body {
	background-image: url("battleship.jpg");
	background-repeat:no-repeat;
    background-size:cover;
}
h1 {
	text-align: center;
}
form {
	text-align: center;
	font-weight: bold;
}
td {
	width: 50px; 
	height: 50px;
}
table {
	border-collapse: collapse;
}
caption {
	color: red;
	font-size: 1.2em;
	font-weight: bold;
}
.tables {
	display: inline-flex;
	margin-left: 60px;
}
.miss {
	background-color: black;
	color: red;
}
.hit {
	background-color: red;
}
.literal, .figure {
	text-align: center;
	vertical-align: center;
	color: red;
}
.field, .miss, .hit{
	border: 2px solid black;
	text-align: center;
	vertical-align: center;
}
.closed{
	color: black !important;
	background-color: darkgrey;
	border-color: darkgrey;
}
#counter {
	float: left;
}
#message {
	background-color: #f43535;
	display: inline-block;
	position: relative;
	left: 40%;
	font-size: 1.2em;
}
#shot, #restart_game, #confirm {
	color: red;
	font-weight: bold;
	display: inline-block;
	cursor: pointer;
}
#enemys_field {
	margin-left: 30px;
}
#confirm {
	display:none;
}
.selected {
	background-color: #0c5ad6;
}
.placed {
	background-color: blue;
}